# fly.toml app configuration file generated for gunnar-photography-pb on 2025-12-20T17:42:03Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'gunnar-photography-pb'
primary_region = 'lhr'

[build]

[[mounts]]
  source = 'pb_data'
  destination = '/pb/pb_data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
